.product-main-info {
    display: flex;
    gap: 50px;
    padding: 40px 0;
}

.product-image-box {
    flex: 1;
    background: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
}

.product-image-box img {
    width: 100%;
    transition: transform 0.3s ease;
}

.product-text-box {
    flex: 1;
}

.qty-control {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    width: fit-content;
    border-radius: 8px;
    margin-top: 10px;
}

.btn-qty {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2rem;
}

#qty {
    width: 50px;
    text-align: center;
    border: none;
    font-weight: bold;
}

.btn-cart {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background: #222;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cart:hover {
    background: #444;
}